# Managed by https://github.com/emcniece/homelab
# EnvironmentFile= for ceph-osd-autoheal.{service,timer} and
# ceph-osd-disk-wait.service. See files/ceph-osd-autoheal for what each
# tunable controls.
DRY_RUN={{ '1' if ceph_autoheal_dry_run else '0' }}
ENABLE_PHY_RESET={{ '1' if ceph_autoheal_enable_phy_reset else '0' }}
RESPECT_MAINT_FLAGS={{ '1' if ceph_autoheal_respect_maint_flags else '0' }}
SETTLE_AFTER_BOOT={{ ceph_autoheal_settle_after_boot }}
DISK_WAIT_TIMEOUT={{ ceph_autoheal_disk_wait_timeout }}
MAX_RESTARTS_PER_HOUR={{ ceph_autoheal_max_restarts_per_hour }}
BACKOFF_SECONDS={{ ceph_autoheal_backoff_seconds }}
USE_NOOUT_DURING_HEAL={{ '1' if ceph_autoheal_use_noout_during_heal else '0' }}
NOOUT_DURATION={{ ceph_autoheal_noout_duration }}
PUSHBULLET_TOKEN={{ pushbullet_token }}
